.main {
  font-family: 'Comic Mono', sans-serif;

  background: #121212;
  color: #ffffff;
  height: 100%;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'Comic Mono', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .icon {
  background-image: url('/images/dev-devil.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  box-sizing: border-box;
}

.main h3 {
  display: flex;
  align-items: center;
  font-family: 'Gothic', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #42d0ff;
}

.main form {
  display: flex;
  gap: 10px;
}

.main input[type='text'] {
  padding: 12px 16px;
  border: 2px solid #42d0ff;
  border-radius: 4px;
  margin-bottom: 12px;
  background: #242424;
  color: #ffffff;
  width: calc(
    100% - 120px
  ); /* Reduce width to make room for the submit button */
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.main input[type='submit'] {
  padding: 12px 0;
  color: white;
  background-color: #00d6ff;
  border: 2px solid #00d6ff;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  width: 100px; /* Set a specific width for the submit button */
  height: 48px; /* Set a specific height for the submit button, matching the input field */
  margin-left: 10px;
  box-sizing: border-box; /* This ensures that padding and border are included in the element's total width and height */
}

.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.main .chat {
  max-width: 600px;
}

.main .chatDisplay {
  background: #242424;
  font-size: 18px;
  text-align: left;
  height: 400px;
  border-radius: 4px;
  border: 2px solid #42d0ff;
  margin-bottom: 12px;
  padding: 12px 0px;
  overflow-y: auto;
}

.message {
  display: flex;
  margin: 4px 0px;
}

.messageName {
  display: inline;
  font-weight: bold;
  padding-left: 10px;
  color: #42d0ff;
}

.messageContent {
  display: inline;
  margin-left: 10px;
  color: #ffffff;
}

.footer,
.footer a,
.footer a:visited {
  padding-top: 10px;
  color: #42d0ff;
}
